<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="AzureVaultURL" value="https://pr-kv-uks-dev.vault.azure.net/secrets/AppConnectionKey" />
  <add key="InternalAPIURL" value="https://pr-api-uks-dev.azurewebsites.net/v1" />
</appSettings>