
@{
    ViewBag.Title = "Account";
}
@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}
<br />
Username: @ViewBag.userName
<br /><br />
@Html.ActionLink("Logout", "Logout", "Account")