
@{
    ViewBag.Title = "Login";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">@TempData["Success"]</div>
}
@if (TempData["Errors"] != null)
{
    <div class="alert alert-danger">@TempData["Errors"]</div>
}
<h2>Login</h2>

@Html.ActionLink("Register", "Register", "Account")